useDynLib(BUSseq, .registration=TRUE)
export(baseline_expression_values)
export(BIC_BUSseq)
export(BUSseq_MCMC)
export(cell_effect_values)
export(celltype_effects)
export(celltype_mean_expression)
export(celltypes)
export(corrected_read_counts)
export(dropout_coefficient_values)
export(heatmap_data_BUSseq)
export(imputed_read_counts)
export(intrinsic_genes_BUSseq)
export(location_batch_effects)
export(overdispersions)
export(raw_read_counts)
S3method(print, BUSseqfits)
S3method(summary, BUSseqfits)
S3method(print, CountData)
S3method(summary, CountData)
import("bigmemory")
import("gplots")
importFrom("methods", "is")
importFrom("stats", "pnbinom", "qnbinom", "rbinom", "rmultinom", 
                    "runif", "sd", "hclust")
importFrom("utils", "write.table")
importFrom("grDevices", "colorRampPalette", "dev.off", "png")
